<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="SysRollingFile" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="%property{SysStorageLocation}\%property{FixedIdentifier}.log"/>
		<appendToFile value="true" />
		<maximumFileSize value="20GB" />
		<param name="MaxSizeRollBackups" value="-1" />
		<rollingStyle value="Size"/>
		<!-- <datePattern value="yyyy_MM_dd_hh'.log'"/> -->
		<staticLogFileName value="false" />
		<preserveLogFileNameExtension value="true" />
		<countDirection value="-1"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{HH:mm:ss} [%level] : %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="DEBUG" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<appender name="DataRollingFile" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="%property{DataStorageLocation}\%property{FixedIdentifier}.log"/>
		<appendToFile value="true" />
		<maximumFileSize value="20GB" />
		<param name="MaxSizeRollBackups" value="-1" />
		<rollingStyle value="Size"/>
		<!-- <datePattern value="yyyy_MM_dd_hh'.log'"/> -->
		<staticLogFileName value="false" />
		<preserveLogFileNameExtension value="true" />
		<countDirection value="-1"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{HH:mm:ss} [%level] : %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="DEBUG" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<logger name="SysLogger" additivity="false">
		<level value="ALL" />
		<appender-ref ref="SysRollingFile" />
	</logger>
	
	<logger name="DataLogger" additivity="false">
		<level value="ALL" />
		<appender-ref ref="DataRollingFile"/>
	</logger>
	
	<root>
		<level value="ALL" />
		<appender-ref ref="SysRollingFile" />
		<appender-ref ref="DataRollingFile"/>
	</root>

</log4net>
